<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.login.dao.MemDao">
		
		<!-- Login -->
		<insert id="insertMem" parameterType="com.login.dto.MemDto">
			insert into meminfo values(#{id},#{password}, #{name}, #{gender}, #{address},#{tel},#{email},#{type},#{cert})
		</insert>
		
		<insert id="insertTrainer" parameterType="com.login.dto.MemDto">
			insert into trainerinfo values(#{id},#{password}, #{name}, #{gender}, #{address},#{tel},#{email},#{type},#{cert})
		</insert>
		
		<select id="idCheck" parameterType="String" resultType="String">
			select id from meminfo where id =#{id}
		</select>
		
		<select id="login" parameterType="com.login.dto.MemDto" resultType="com.login.dto.MemDto">
			select * from meminfo where id=#{id} and password=#{password}
		</select> 
		
		<select id="findId" parameterType="com.login.dto.MemDto" resultType="String">
			select id from meminfo where name = #{name} and email = #{email}
		</select>
		
		<select id="findPw" parameterType="com.login.dto.MemDto" resultType="String">
			select password from meminfo where name = #{name} and id = #{id} and email = #{email}
		</select>
		
		<!-- Mypage -->
		<update id="fix_info" parameterType="com.login.dto.MemDto">
			update meminfo set password = #{password}, name = #{name}, address = #{address}, tel = #{tel}, email = #{email}
			where id = #{id} 
		</update>
		
		<delete id="deleteMem" parameterType="String">
			delete from meminfo where id = #{id}
		</delete>
		
	
	</mapper>
